{% extends 'pages/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}| Dashboard{% endblock %}

{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                    <h2>{{ request.user.email }}</h2>
                    <h3 class="lead mb-3">Manage your account</h3>
                    <a href="" class="btn btn-warning">Edit profile info</a>
                    <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
                    <a href="{% url 'detect' %}" class="btn btn-success">Make new request</a>
                    <button class="btn btn-info" data-toggle="modal" data-target="#inquiryModal">Contact Us</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Dashboard</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <section id="dashboard" class="pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome {{ request.user.username }}</h2>
                    {% if user_requests %}
                        <h5>Here are the requests that you have inquired. Total: {{ request_amount }}</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Center Coordinates</th>
                                <th scope="col">Uploaded image</th>
                                <th scope="col">Processed image</th>
                                <th scope="col">Date Uploaded</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_request in user_requests %}
                                <tr>
                                    <td class="font-weight-bold">{{ forloop.counter|normalize_table_number:user_requests.number }}</td>
                                    <td>{{ user_request.latitude }}, {{ user_request.longitude }}</td>
                                    <td>
                                        <div class="post-img">
                                            <a href="{{ user_request.image.url }}"
                                               data-lightbox="request-response-images">
                                                <img src="{{ user_request.image.url }}" alt=""
                                                     class="img-fluid" width="50px"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="post-img">
                                            <a href="{{ user_request.response.image.url }}"
                                               data-lightbox="request-response-images">
                                                <img src="{{ user_request.response.image.url }}" alt=""
                                                     class="img-fluid" width="50px"></a>
                                        </div>
                                    </td>
                                    <td>{{ user_request.date_uploaded|date:'F d, Y'|date:'F d, Y' }}</td>
                                    <td>
                                        <a href="{% url 'query_detail' user_request.id %}" class="btn btn-primary">details</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'query_delete' user_request.id %}"
                                           class="btn btn-danger">delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You have not made any queries yet</p>
                        <a href="{% url 'detect' %}" class="btn btn-primary">Start Now</a>
                    {% endif %}
                </div>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12">
                    {% if user_requests.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            {% if user_requests.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ user_requests.previous_page_number }}"
                                       class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in user_requests.paginator.page_range %}
                                {% if user_requests.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% elif i > user_requests.number|add:'-3' and i < user_requests.number|add:'3' %}
                                    <li class="page-item">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if user_requests.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ user_requests.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Inquiry Modal -->
    {% include 'partials/_inquiryModal.html' %}
{% endblock %}