/* ACCORDION */

.nav-tabs {
    display:none;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }

    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

/* FILE INPUT */

.fileInput .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 60px;
    width: 100%;
    margin: auto;
    display: block;
    border: 2px solid #555;
    font-size: 20px;
}

.fileInput .btn-tertiary:hover, .fileInput .btn-tertiary:focus {
    color: #888;
    border-color: #888
}

.fileInput .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.fileInput .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.fileInput .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.fileInput .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}

/* MAPS JS API customizing zoom buttons */

.gm-style .controls {
  font-size: 28px;
  /* this adjusts the size of all the controls */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 300;
  height: 1em;
  margin: 6px;
  text-align: center;
  user-select: none;
  padding: 2px;
  width: 1em;
}

.gm-style .controls button {
  border: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.gm-style .controls button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.gm-style .controls.zoom-control {
  display: flex;
  flex-direction: column;
  height: auto;
}

.gm-style .controls.zoom-control button {
  font: 0.85em Arial;
  margin: 1px;
  padding: 0;
}
