{% extends 'pages/base.html' %}
{% load static %}

{% block title %}| About{% endblock %}

{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About Deforestation Detection</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> About</li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="dashboard" class="pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>ABOUT</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock %}