{% extends 'pages/base.html' %}

{% load static %}

{% block title %}| Welcome{% endblock %}

{% block content %}
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            {#            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">#}
            <source src="{% static 'pages/video/forest2.mov' %}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Detect Deforestation</h1>
                    <h3 class="mb-3">Simplify deforestation monitoring</h3>
                    <a href="{% url 'detect' %}" type="submit" class="col-md-4 btn btn-danger btn-lg">Try it now</a>
                </div>
            </div>
        </div>
    </header>

    <section class="my-4">
        <div class="container">
            <div class="row">
                <div class="intro-info col-md-8 mx-auto">
                    <p>The protection of the natural environment from criminal encroachments and the prevention of
                        environmental crimes is one of the most pressing problems of our time. Scientific and
                        technological progress and increased anthropogenic pressure on the natural environment
                        inevitably lead to an exacerbation of the ecological situation: the reserves of natural
                        resources are depleted, the environment is polluted, the natural connection between man and
                        nature is lost, aesthetic values are lost, the physical and moral health of people
                        deteriorates, the economic and political struggle for commodity markets and living space.</p>
                    <p>One of the most important objects of nature is the forest. This component of the environment
                        contains a huge resource potential and performs various ecological, economic, cultural and
                        recreational functions.</p>
                    <p>Illegal deforestation is one of the main threats to forests around the world. Considering that
                        illegal deforestation is concentrated in forests, which are characterized by a rich species
                        diversity of plants and animals, their ecological consequences are catastrophic. Illegal logging
                        has become a serious problem for forests in recent decades. The volume of illegally cut timber
                        has been growing recently due to the lack of proper control by the state.</p>
                    <p class="mb-0">Illegal deforestation also has social consequences: forest taxes are not paid from
                        illegally cut timber, which leads to a decrease in tax collections received from the use of
                        forest resources.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-tree fa-4x mr-4"></i>
                    <hr>
                    <h3>Deforestation Control</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae,
                        provident iste consequatur hic dignissimos ratione ea quae.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-desktop fa-4x mr-4"></i>
                    <hr>
                    <h3>Weekly Monitoring</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae,
                        provident iste consequatur hic dignissimos ratione ea quae.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Consulting Service</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae,
                        provident iste consequatur hic dignissimos ratione ea quae.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}